@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '../shared-variables.less';

.horizontalNavigationOuter {
  position: relative;
}

.horizontalNavigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 75px;
  position: relative;
  background-color: @dac-header-color;
  box-sizing: border-box;
  color: white;
}

.primaryContainer {
  flex: 1;
}

.secondaryContainer {
  // TODO Does DAC have a grid system with values we can calculate padding from?
  padding-right: 20px;
}
