@import 'shared-variables.less';

@grid: 4;

.container {
  display: flex;
  padding: unit(@grid * 2, px) 0;
}
.avatarSlotWrapper {
  align-self: stretch;
  height: 100%;
  padding: 0 unit(@grid * 2, px) 0 0;
  width: 30px; // medium avatar size
}
.content {
  flex: 1 0 auto;
  max-width: ~'calc(100% - 38px)'; // 30px avatar size and the 8px padding
}
.metadata {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.authorSlotWrapper {
  margin-top: unit(@grid * 3, px);
  padding: 0 unit(@grid * 2, px) 0 0;
}
.timeSlotWrapper {
  color: @ak-color-N600;
  display: flex;
  flex: 1 0 auto;
  margin-top: unit(@grid * 3, px);

  &::before {
    content: "\b7\a0";
  }
}
.actionSlotWrapper {
  margin-top: unit(@grid * 3, px);
}
.replySlotWrapper {
  margin-top: unit(@grid * 3, px);
}
