// For styles that are shared between shadow and host (variable definitions ONLY)

@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/fonts.less';
@import '~akutil-shared-styles/src/borders.less';

@CARD_BG: #FFFFFF;
@CARD_SHADOW: 0 3px 6px rgba(0, 0, 0, 0.2);

.base-card-style {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 360px;
  min-height: 185px;
  background: @CARD_BG;
  box-shadow: @CARD_SHADOW;
  border-radius: @ak-border-radius;
  overflow: hidden;
}
