@import '../../shared-variables.less';

.containerNavigationNested {
  display: flex;
  position: relative;
  transition: transform 200ms;
}

.pageWrapper {
  flex: 1 0 100%;

  & + .pageWrapper {
    margin-left: @container-navigation-nested-page-spacing;
  }
}
