@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '../../shared-variables.less';

@icon-size: @ak-grid-size * 5;
@padding-open: (@ak-grid-size * 3) (@ak-grid-size * 1.75) 0 (@ak-grid-size * 1.5);
@padding-closed: (@ak-grid-size * 3) (@ak-grid-size * 2.5) 0 (@ak-grid-size * 0.5);

.containerHeader {
  display: flex;
  align-items: center;
  align-content: center;
}

.containerHeaderWrapper {
  transition: padding 200ms;
  padding: @padding-open;
  margin-bottom: @ak-grid-size * 2;
  & > a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.icon > * {
  width: @icon-size;
  height: @icon-size;
  border-radius: 4px;
}

.text {
  margin-left: @ak-grid-size * 2;
}

// Container queries
.open {
  .containerHeaderWrapper {
    padding: @padding-open;
  }
}
.closed {
  .containerHeaderWrapper {
    padding: @padding-closed;
  }
}