@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '../../shared-variables.less';

@icon-size: @ak-grid-size * 5;

.containerHeader {
  display: flex;
  align-items: center;
  align-content: center;
}

.link {
  color: @ak-color-N400;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: @ak-color-N400;
    text-decoration: none;
  }
}

.icon > * {
  width: @icon-size;
  height: @icon-size;
  border-radius: 4px;
}

.text {
  margin-left: @ak-grid-size * 2;
}
