@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/mixins/focus-ring.less';
@import '../../shared-variables.less';

.header {
  margin-left: @ak-grid-size;
  margin-top: @ak-grid-size * 2;
  margin-bottom: @ak-grid-size;
  display: flex;
}

.title {
  text-transform: uppercase;
  color: @ak-color-N90;
  flex-grow: 1;
  font-size: 12px;
  display: flex;
  align-self: center;
}

.action {
  margin-right: @ak-grid-size;
}

