@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '../../shared-variables.less';

.containerNavigationNested {
  display: flex;
  position: relative;
  transition: transform 200ms;
}

.pageWrapper {
  flex: ~"calc(100%) 0 0";
  overflow: hidden;

  & + .pageWrapper {
    margin-left: @container-navigation-nested-page-spacing;
  }
}
