@import '../../shared-variables.less';
@import '~akutil-shared-styles/src/grid.less';

.drawer {
  background: white;
  height: 100%;
  width: 0;
  transition: width 200ms;
  position: fixed;
  left: @global-open-width;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.15);
  &.open {
    width: 28 * @ak-grid-size;
    &.wide {
      width: 75 * @ak-grid-size;
    }
  }
}