@import '../../shared-variables.less';
@import '~akutil-shared-styles/src/grid.less';

@width: 45 * @ak-grid-size;
@wide-width: 75 * @ak-grid-size;
@transition: transform 220ms;

.hidden {
  display: none;
}

.drawer {
  background: white;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.15);
  display: flex;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  transform: translateX(-@width);
  transition: @transition;
  width: @width;
  &:not(.open) {
    visibility: hidden;
  }
  &.wide {
    width: @wide-width;
    transform: translateX(-@wide-width);
  }
  &.open, &.wide.open {
    transform: translateX(0);
  }
}

.side {
  width: @global-open-width;
  padding: @global-vertical-padding 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .icon {
    align-items: center;
    display: flex;
    height: @ak-grid-size * 5;
    justify-content: center;
    width: @ak-grid-size * 5;
  }
}

.fixed {
  transition: @transition;
  transform: translateX(@width);
  .wide & {
    transform: translateX(@wide-width);
  }
  .open &, .wide.open & {
    transform: translateX(0);
  }
}
