@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';

.globalItem {
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover, &:focus, &.isSelected {
    background-color: @ak-color-N90A;
  }

  &:active {
    background-color: @ak-color-B200;
  }
}

.smallGlobalItem {
  height: (@ak-grid-size * 4);
  margin-top: @ak-grid-size;
  width: (@ak-grid-size * 4);
}

.mediumGlobalItem {
  height: @ak-grid-size * 5;
  width: @ak-grid-size * 5;
}

.largeGlobalItem {
  height: @ak-grid-size * 6;
  width: @ak-grid-size * 6;
}
