@import '~akutil-shared-styles/src/grid.less';
@import '~akutil-shared-styles/src/colors.less';
@import '../../shared-variables.less';

@actions-margin-top: @ak-grid-size * 1.5;
@actions-margin-bottom: @ak-grid-size * 3.5;

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: @actions-margin-top;
}

.globalActions {
  box-sizing: border-box;
  height: 0;
  opacity: 0;
  transition: height 220ms, margin 220ms, opacity 220ms;


  .primaryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.isVisible {
    margin-bottom: @actions-margin-bottom;
    opacity: 1;
    height: @global-item-medium-size * 3 + @actions-margin-top;

  }
}
