@import '../../shared-variables.less';
@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';

.search {
  margin-top: @ak-grid-size * 6.5;
  padding-left: @ak-grid-size * 3;
}

.input {
  border: 0;
  color: @ak-color-N900;
  font-size: 2em;
  outline: 0;
  width: 100%;
}

.results {
  margin-top: @ak-grid-size * 3;
}
