// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

.container {
  display: inline-block;
}

.ak-button {

  font-family: BlinkMacSystemFont, 'Neue Haas Unica Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: @base-font;

  box-sizing: border-box;
  background: @buttonDefault;
  color: @ak-color-N500;
  border: none;
  padding: 0 @base;
  line-height: @base*3;
  height: @base*3;
  border-radius: @base-radius;
  font-size: @base-font;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  transition: background 0s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);

  &:hover {
    background: @buttonHover;
    cursor: pointer;
    transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  }

  &:active {
    background: @buttonActive;
    transition-duration: 0s;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus {
    transition-duration: 0s, 0.2s;
    box-shadow: 0 0 0 2px @buttonFocus;

    &:active {
      box-shadow: 0 0 0 0 @buttonFocus;
    }
  }

  &.primary {
    background: @ak-color-B400;
    color: @ak-color-N20;

    &:hover {
      background: @ak-color-B500;
    }

    &:active {
      background: @ak-color-B300;
    }
  }

  &.subtle:not(:hover):not(:focus):not(:active) {
    background: none;
  }

  &.disabled {
    color: @ak-color-N60;

    ::content > * { pointer-events: none; }
    ::sloted(*) { pointer-events: none; }
    slot > * { pointer-events: none; }

    &:hover {
      cursor: not-allowed;
      background: @buttonDefault;
    }
  }

  &.selected {
    background: @ak-color-N700;
    color: @ak-color-N20
  }
}
