@import '../node_modules/akutil-shared-styles/src/colors.less';

@base: 10px;
@base-font: 14px;
@base-radius: 3px;

@buttonDefault: fade(@ak-color-N900, 6%);
@buttonHover: fade(@ak-color-N900, 10%);
@buttonFocus: fade(@ak-color-B200, 80%);
@buttonActive: fade(@ak-color-B50, 50%);


.container {
  display: inline-block;
  
  .button {
    align-items: center;
    box-sizing: border-box;
    background: @buttonDefault;
    border: none;
    border-radius: @base-radius;
    color: @ak-color-N500;
    display: flex;
    font-style: normal;
    font-size: @base-font;
    height: @base*3;
    line-height: @base*3;
    margin: 0;
    padding: 0 @base;
    text-align: center;
    transition: background 0s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);

    &:hover {
      background: @buttonHover;
      cursor: pointer;
      transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    }

    &:active {
      background: @buttonActive;
      transition-duration: 0s;
      outline: none;
    }

    &:focus {
      transition-duration: 0s, 0.2s;
      box-shadow: 0 0 0 2px @buttonFocus;

      &:active {
        box-shadow: 0 0 0 0 @buttonFocus;
      }
    }

    &.primary {
      background: @ak-color-B400;
      color: @ak-color-N20;

      &:hover {
        background: @ak-color-B500;
      }

      &:active {
        background: @ak-color-B300;
      }
    }

    &.subtle:not(:hover):not(:focus):not(:active) {
      background: none;
    }

    &.disabled {
      color: @ak-color-N60;

      ::content > * { pointer-events: none; }
      ::slotted(*) { pointer-events: none; }
      .slot > * { pointer-events: none; }

      &:hover {
        cursor: not-allowed;
        background: @buttonDefault;
      }
    }

    &.selected {
      background: @ak-color-N700;
      color: @ak-color-N20
    }
  }
}
