// For styles that are shared between shadow and host (variable definitions ONLY)

@import '../node_modules/akutil-shared-styles/src/colors.less';

@base: 10px;
@base-font: 14px;
@base-radius: 3px;

@buttonDefault: fade(@ak-color-N900, 6%);
@buttonHover: fade(@ak-color-N900, 10%);
@buttonFocus: fade(@ak-color-B200, 80%);
@buttonActive: fade(@ak-color-N900, 50%);
