@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/mixins/select-slot-children.less';

.content-slot,
.right-slot {
  display: inline-block;
}

.content-slot {
  width: calc(~'100% - 32px');
}

.right-slot {
  vertical-align: middle;
  width: 32px;
}

@validator-item: {
  display: list-item;
};

.select-slot-children('validator', 'validator-slot', @validator-item);

.error-list {
  padding-left: calc(~'1em + 10px');
  padding-right: 10px;
}

// Icons
.success-icon {
  color: @ak-color-G400;
}

.error-icon {
  color: @ak-color-R400;
}
