@import 'shared-variables.less';
@import 'shadow-variables.less';

// State definitions

@baseInputStyle: {
  background-color: @ak-color-N10A;
  border: unit(@standard-border-width, px) solid @ak-color-N30A;
  border-radius: 3px;
  font-size: 14px;
  margin-top: unit(@label-input-spacing, px);
  padding: unit(@input-vertical-padding, px) unit(@input-horizontal-padding, px);
  transition: background-color @input-style-transition-duration ease-in-out,
              border-color @input-style-transition-duration ease-in-out;
  width: 100%;
};

@hoverInputStyle: {
  background-color: @ak-color-N20;
  border-color: @ak-color-N20;
};

@focusInputStyle: {
  background-color: white;
  border-width: unit(@focused-border-width, px);
  border-color: @ak-color-B100;
  outline: none;
  padding: unit(@focused-input-vertical-padding, px) unit(@focused-input-horizontal-padding, px);
};

@disabledInputStyle: {
  background-color: @ak-color-N20A;
  border-width: unit(@standard-border-width, px);
  border-color: @ak-color-N20A;
  color: @ak-color-N60;
  cursor: not-allowed;
};

// Label style

.label {
  color: @ak-color-N200;
  display: block;
  font-size: 12px;
  font-weight: 500;
  max-width: unit(@grid * 124, px); // fits 8px grid
  padding-top: unit(@label-top-spacing, px);

  .required {
    color: @ak-color-R400;
    padding-left: 7px;
  }
}

// Styles for native shadow DOM browsers

::slotted(input) {
  @baseInputStyle();
}

:host([compact]) ::slotted(input) {
  padding: unit(@input-compact-vertical-padding, px) unit(@input-horizontal-padding, px);
}

::slotted(input:hover) {
  @hoverInputStyle();
}
::slotted(input:focus) {
  @focusInputStyle();
}
::slotted(input[disabled]) {
  @disabledInputStyle();
}

// Styles for polyfilled shadow DOM
.default-slot-element > input {
  @baseInputStyle();

  &:hover {
    @hoverInputStyle();
  }

  &:focus {
    @focusInputStyle();
  }

  &[disabled] {
    @disabledInputStyle();
  }
}

.default-slot-element[compact] > input {
  padding: unit(@input-compact-vertical-padding, px) unit(@input-horizontal-padding, px);
}
