// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

.label {
  color: @ak-color-N200;
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 10px;
}

// NORMAL STATE

@baseInputStyle: {
  background-color: @ak-color-N10A;
  border: 1px solid @ak-color-N30A;
  border-radius: 3px;
  font-size: 14px;
  padding: 13px 8px;
  transition: background-color 0.2s, border-color 0.2s;
  width: 300px;
};
.default-slot-element > input { @baseInputStyle(); }
::content > input { @baseInputStyle(); }
::slotted(input)  { @baseInputStyle(); }

// HOVER STATE

@hoverInputStyle: {
  background-color: @ak-color-N20;
  border-color: @ak-color-N20;
};
.default-slot-element > input:hover { @hoverInputStyle(); }
::content > input:hover { @hoverInputStyle(); }
::slotted(input:hover)  { @hoverInputStyle(); }

// FOCUS STATE

@focusInputStyle: {
  background-color: white;
  border-width: 2px;
  border-color: @ak-color-B100;
  padding: 12px 7px;
};
.default-slot-element > input:focus { @focusInputStyle(); }
::content > input:focus { @focusInputStyle(); }
::slotted(input:focus)  { @focusInputStyle(); }

// DISABLED STATE

@disabledInputStyle: {
  background-color: @ak-color-N20A;
  border: 1px solid @ak-color-N20A;
  color: @ak-color-N60;
  cursor: not-allowed;
};
.default-slot-element > input[disabled] { @disabledInputStyle(); }
::content > input[disabled] { @disabledInputStyle(); }
::slotted(input[disabled])  { @disabledInputStyle(); }
