.font {
  color: inherit;
}

.input {
  background: transparent;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  
  cursor: inherit;
  
  outline: none;
  width: 100%;

  &:invalid {
    box-shadow: none;
  }
}
