// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

@spacing: 6px;

.flex() {
  display: flex;
  flex-wrap: wrap;
  padding: @spacing;
}

.flex-item() {
  margin: @spacing;
}

:host .default-slot-wrapper {
  .flex;
}

.default-slot {
  .flex;
  & > * {
     .flex-item();
  }
}

::content > * {
  .flex-item();
}

::slotted(*) {
  .flex-item();
}
