@import 'shared-variables.less';

.ak-editor-hyperlink-popup, // for testing
ak-editor-hyperlink-popup {
  display:none;
  opacity: 0;

  &[open] {
    display:block;
    &[positioned] {
      opacity: 1;
    }
  }
}
