@import 'variables.less';

.dropContent {
  background: @ak-dropdown-background-main-color;
  border-radius: @ak-dropdown-border-radius;
  box-sizing: border-box;
  overflow-y: auto;
  padding: @halfGrid 0;
}

.dropTrigger {
  display: flex;
  width: 100%;
}

.dropWrapper {
  display: inline-flex;
}
