@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/borders.less';
@import '~akutil-shared-styles/src/grid.less';

@halfGrid: @ak-grid-size/2;

@ak-dropdown-border-radius: @ak-border-radius;
@ak-dropdown-background-main-color: @ak-color-N700;
