// For styles that are shared between shadow and host (variable definitions ONLY)

@import '~akutil-shared-styles/src/borders.less';
@import '~akutil-shared-styles/src/colors.less';

@emoji-picker-border-color: @ak-color-N40; // This has not been confirmed by the ADG yet
@emoji-picker-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
@emoji-footer-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.1);

@no-dialog-container-border-color: @ak-color-N40; // This has not been confirmed by the ADG yet
@no-dialog-container-border-radius: @ak-border-radius;
@no-dialog-container-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

@ak-emoji-selected-background-color: @ak-color-B50;
@emoji-preview-selected-color: @ak-color-N30;

// NOTE: these sizes are duplicated in shared-variables.js
@emoji-picker-width: 350px;
@emoji-picker-height: 295px;
@emoji-picker-list-width: 350px;
@emoji-picker-list-height: 205px;

@emoji-type-ahead-width: 350px;
