{
  "rules": {
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "mocha/no-exclusive-tests": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "mocha"
  ],
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
