# package bundle dirs
**/dist
**/local-config.js
.DS_Store
.babelrc
.ci_failed
.idea
.idea/
.jshintignore
.jshintrc
.released-packages
.vscode
.yarn-cache
/stories
/storybook-static
TESTS-*.xml
atlaskit.iml
browserstack-entry.js
browserstack.err
changed-packages
es/
lerna-debug.log
lib/
local.log
node_modules
npm-debug.log
npm-debug.log.*
packages/**/**/CHANGELOG.md
packages/**/**/README.md
packages/**/yarn.lock
packages/*/storybook-static
types/
umd/
yarn-error.log
