@import './styles.less';

@error-color: @ak-color-N800;
@error-sub-color: @ak-color-N90;

.profilecard-resourced {
  .font-smoothing;
  font-family: @ak-font-family;
  width: @ak-grid-size * 45;
  background: @card-bg;
  box-shadow: @card-shadow;
  border-radius: @ak-border-radius;
  overflow: hidden;
}

.spinnerContainer {
  position: relative;
  height: @ak-grid-size * 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  text-align: center;
  padding: @ak-grid-size * 3;

  svg {
    color: @error-sub-color;
  }

  p {
    color: @error-color;
    line-height: @ak-grid-size * 3;
    margin: @ak-grid-size 0;

    span {
      color: @error-sub-color;
    }
  }
}
