/* These styles will be inserted into a style tag inside the shadow dom of each instance of the
    component */
@import 'shared-variables.less';

button {
  background: #3572b0;
  border-color: transparent;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;
  border-radius: 3.01px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  height: 2.14285714em;
  line-height: 1.42857143;
  margin: 0;
  padding: 4px 10px;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
}
