.toolbar > button {
  background: white;
  border: 0 solid #000;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toolbar > button + button {
  margin-left: 10px;
}

.toolbar > button:hover {
  background: #505F79;
}

.toolbar > button path {
  fill: #505F79;
}

.toolbar > button:hover path {
  fill: white;
}
