// For styles that are shared between shadow and host (variable definitions ONLY)

@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/fonts.less';
@import '~@atlaskit/util-shared-styles/src/borders.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';


// TO DO: Remove this hardcoded (and outdated) grid unit
@default-border-radius: @ak-border-radius;
@button-width: 2 * @ak-grid-size + @default-border-radius;
@font-size: @ak-font-size-default;
@tag-height: 2.5 * @ak-grid-size;
@max-width: 25 * @ak-grid-size;
@max-text-width: @max-width - (@button-width);
@animation-duration: 250ms;
@remove-animation: 'max-width', 'XX', @max-width, 0;
