@import 'shared-variables.less';

.ak-tab-labels {
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.ak-tab-label {
  color: #344563;
  cursor: pointer;
  font-size: 14px;
  line-height: @ak-tabs-line-height;
  padding: @ak-tabs-padding-vertical @ak-tabs-padding-horizontal;
  position: relative;
  white-space: nowrap;

  &:hover,
  &:active,
  &:active::before{
    color: @ak-tabs-color-active;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 @ak-tabs-focus-width @ak-tabs-color-focus inset;
    border-radius: 3px;
  }

  .ak-tabs-button {
    cursor: pointer;

    // TODO: Replace with chevron
    &::after {
      border-right: 0.2em solid currentColor;
      border-top: 0.2em solid currentColor;
      content: "";
      color: inherit;
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      margin: 0 5px;
      position: relative;
      transform: rotate(135deg);
    }
  }

  &.ak-tab-label-hidden {
    visibility: hidden;
    position: absolute;
  }

  &.ak-tab-label-single {
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Tab labels line
.ak-tab-labels:not(:empty)::before,
.ak-tab-label-selected::after {
  background-color: @ak-tabs-color-line-default;
  content: '';
  height: 1px;
  margin: 0;
  position: absolute;
  width: inherit;
  bottom: 0;
  left: @ak-tabs-padding-horizontal;
  right: @ak-tabs-padding-horizontal;
}

.ak-tab-label-selected {
  color: @ak-tabs-color-selected;

  &::after {
    background-color: currentColor;
  }
}

// Temporary. For dropdown placeholder.
.dd-container {
  list-style-type: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 40px;

  .dd-item {
    border: 1px solid black;
    margin: 0;
    padding: 5px;

    a {
      color: @ak-tabs-color-label-default;
      text-decoration: none;
    }
  }
}

.dd-hidden {
  display: none;
}
