@import 'shared-variables.less';

.ak-tab-labels {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.ak-tab-label {
  color: #344563;
  font-size: 14px;
  line-height: @ak-tabs-line-height;
  margin: @ak-tabs-margin;
  position: relative;
  white-space: nowrap;

  &:hover,
  &:active,
  &:active::before{
    color: @ak-tabs-color-active;
  }

  & > a {
    color: inherit;
    text-decoration: none;
    padding: @ak-tabs-margin;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 @ak-tabs-focus-width @ak-tabs-color-focus inset;
      border-radius: 3px;
    }
  }

  .ak-tabs-button {
    cursor: pointer;

    &::after {
      border-right: 0.2em solid currentColor;
      border-top: 0.2em solid currentColor;
      content: "";
      color: inherit;
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      margin: 0 5px;
      position: relative;
      transform: rotate(135deg);
    }
  }

  &.ak-tab-label-hidden {
    visibility: hidden;
    position: absolute;
  }

  &.ak-tab-label-single {
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Tab labels line
.ak-tab-labels:not(:empty)::before,
.ak-tab-label-selected::after {
  content: '';
  height: 1px;
  position: absolute;
  left: @ak-tabs-margin;
  right: @ak-tabs-margin;
  bottom: @ak-tabs-focus-width - @ak-tabs-margin;
  background-color: @ak-tabs-color-line-default;
  width: inherit;
  margin: 0;
}

.ak-tab-labels:not(:empty)::before {
  margin: @ak-tabs-margin;
}

.ak-tab-label-selected {
  color: @ak-tabs-color-selected;

  &::after {
    background-color: currentColor;
  }
}

// Align first label with line
.ak-tab-label:first-of-type {
  &::before,
  &::after {
    left: @ak-tabs-margin;
  }
}

// Temp. For dropdown demo.
.dd-container {
  .dd-item a {
    color: @ak-tabs-color-label-default;
    text-decoration: none;
  }

  .dd-hidden {
    display: none;
  }
}
