// For styles that are shared between shadow and host (variable definitions ONLY)

@import '../node_modules/akutil-shared-styles/src/colors.less';

@ak-tabs-margin: 5px;
@ak-tabs-padding: 5px;
@ak-tabs-color-label-default: #344563;
@ak-tabs-color-line-default: #E5E8EC;
@ak-tabs-color-selected: #165ECC;
@ak-tabs-color-active: #0074E0;
@ak-tabs-color-hover: @ak-tabs-color-selected;
@ak-tabs-color-focus: #23A9FA;
@ak-tabs-focus-width: 2px;
