// For styles that are shared between shadow and host (variable definitions ONLY)

@import '../node_modules/akutil-shared-styles/src/colors.less';

@ak-tabs-margin: 5px;
@ak-tabs-padding: 5px;
@ak-tabs-color-label-default: #344563;  // N600
@ak-tabs-color-line-default: #E5E8EC; // What color is this?
@ak-tabs-color-selected: #165ECC; // B400
@ak-tabs-color-active: #0074E0; // B500
@ak-tabs-color-hover: @ak-tabs-color-selected;  // B400
@ak-tabs-color-focus: #23A9FA;  // B100 - Focus outline
@ak-tabs-focus-width: 2px;
@ak-tabs-line-height: 20px;
