@import '~ak-editor-shared-styles/src/index';

.container {
  background: @ak-editor-popup-background;
  border-radius: @ak-border-radius;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);;
  // position: relative;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
