// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';
@button-spacing: 4px;

.container {
  display: inline-flex;
  justify-content: space-between;
}

::content ak-radio-button {
  flex: 1;
  margin: 0 @button-spacing/2;
}

::slotted(*) {
  flex: 1;
  margin: 0 @button-spacing/2;
}

::slotted(:first-child) {
  margin-left: 0;
}

::slotted(:last-child) {
  margin-right: 0;
}

// .container > * {
//   flex: 1;
//   background: red;
// }
