// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

.lozenge {
  border-radius: 3px;
  padding: 5px;
}

.default {
  background: @default-bg;
  color: @default-text;
}
.success {
  background: @success-bg;
  color: @success-text;
}
.removed {
  background: @removed-bg;
  color: @removed-text;
}
.inprogress {
  background: @inprogress-bg;
  color: @inprogress-text;
}
.new {
  background: @new-bg;
  color: @new-text;
}
.moved {
  background: @moved-bg;
  color: @moved-text;
}
