@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/z-indexes.less';

.blanket {
  background: @ak-color-N900;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 220ms;
  z-index: @ak-z-index-blanket;

}

.tinted {
  opacity: 0.5;
}

.canClickThrough {
  pointer-events: none;
}
