// Adding this dummy variable to get around an issue with less-vars-to-js no parsing files with noscript
// variables. PR to fix it is here https://github.com/mjt01/less-vars-to-js/pull/3
// TODO: remove this once the PR above is merged
@dummyVar: 1;

.boldAnimation(@animationClass; @name) {
    @animationClass();

    @keyframes @name {
        0% {
            .toAnimate(0);
            easing: cubic-bezier(0.23830050393398, 0, 0.25586732616931, 0.79011192334632);
        }
        20% {
            .toAnimate(0.8);
            easing: cubic-bezier(0.21787238302442, 0.98324004924648, 0.58694150667646, 1);
        }
        100% {
            .toAnimate(1);
        }
    }
}

.optimisticAnimation(@animationClass; @name) {
    @animationClass();

    @keyframes @name {
        0% {
            .toAnimate(0);
            easing: cubic-bezier(0.33333333, 0, 0.4, 1);
        }
        20% {
            .toAnimate(1.05);
            easing: cubic-bezier(0.4, 0, 0.6, 1);
        }
        76% {
            .toAnimate(0.975);
            easing: cubic-bezier(0.4, 0, 0.6, 1);
        }
        100% {
            .toAnimate(1);
        }
    }
}

.combinedAnimation(@animationClass; @name) {
    @animationClass();

    @keyframes @name {
        0% {
            .toAnimate(0);
            easing: cubic-bezier(0.4, 0, 0.15, 1);
        }
        50% {
            .toAnimate(1.1);
            easing: cubic-bezier(0.4, 0, 0.6, 1);
        }
        100% {
            .toAnimate(1);
        }
    }
}
