// Primary color palette
@ak-color-primary1: @ak-color-N700;
@ak-color-primary2: @ak-color-B400;
@ak-color-primary3: @ak-color-N20;
@ak-color-primary4: #FFFFFF;

// Secondary color palette
@ak-color-secondary1: @ak-color-R300;
@ak-color-secondary2: @ak-color-Y300;
@ak-color-secondary3: @ak-color-G300;
@ak-color-secondary4: @ak-color-P300;

// Reds
@ak-color-R50: #FFEBE6;
@ak-color-R75: #FFBDAD;
@ak-color-R100: #FF8F73;
@ak-color-R200: #FF7452;
@ak-color-R300: #FF5630;
@ak-color-R400: #DE350B;
@ak-color-R500: #BF2600;

// Yellows
@ak-color-Y50: #FFFAE6;
@ak-color-Y75: #FFF0B3;
@ak-color-Y100: #FFE380;
@ak-color-Y200: #FFC400;
@ak-color-Y300: #FFAB00;
@ak-color-Y400: #FF991F;
@ak-color-Y500: #FF8B00;

// Greens
@ak-color-G50: #E3FCEF;
@ak-color-G75: #ABF5D1;
@ak-color-G100: #79F2C0;
@ak-color-G200: #57D9A3;
@ak-color-G300: #36B37E;
@ak-color-G400: #00875A;
@ak-color-G500: #006644;

// Blues
@ak-color-B50: #DEEBFF;
@ak-color-B75: #B3D4FF;
@ak-color-B100: #4C9AFF;
@ak-color-B200: #2684FF;
@ak-color-B300: #0065FF;
@ak-color-B400: #0052CC;
@ak-color-B500: #0049B0;

// Purples
@ak-color-P50: #DFD9FF;
@ak-color-P75: #C0B6F2;
@ak-color-P100: #998DD9;
@ak-color-P200: #8777D9;
@ak-color-P300: #6554C0;
@ak-color-P400: #5243AA;
@ak-color-P500: #403294;

// Teals
@ak-color-T50: #E6FCFF;
@ak-color-T75: #B3F5FF;
@ak-color-T100: #79E2F2;
@ak-color-T200: #00C7E6;
@ak-color-T300: #00B8D9;
@ak-color-T400: #00A3BF;
@ak-color-T500: #008DA6;

// Neutrals (Comments taken from https://extranet.atlassian.com/display/ADG/Harden+-+Color)
@ak-color-N10: #FAFBFC; // Sub-background
@ak-color-N10A: rgba(@ak-color-N900, 0.02); // input background
@ak-color-N20: #F4F5F7; // Primary color, default btns, rest dropdowns, navigation
@ak-color-N20A: rgba(@ak-color-N900, 0.04); // disabled input bg+border
@ak-color-N30: #EBECF0; // Hover btns
@ak-color-N30A: rgba(@ak-color-N900, 0.08); // input border
@ak-color-N40: #DFE1E6; // Disabled btns, tabs line, forms, editor line, checkbox
@ak-color-N50: #C1C7D0; // Nominated for removal from palette
@ak-color-N60: #B3BAC5; // Nominated for removal from palette
@ak-color-N70: #A5ADBA; // Nominated for removal from palette
@ak-color-N80: #97A0AF; // Nominated for removal from palette
@ak-color-N90: #8993A4; // Nominated for removal from palette
@ak-color-N100: #7A869A; // Nominated for removal from palette
@ak-color-N200: #6C798F; // Select tabs, radio, forms
@ak-color-N300: #5E6C84; // Tables
@ak-color-N400: #505F79; // Nominated for removal from palette
@ak-color-N500: #42526E; // Dropdowns, select btns, default tabs, forms, tables, editor icons, navigation
@ak-color-N600: #344563; // Issue sub title
@ak-color-N700: #253858; // Primary color, dropdowns
@ak-color-N800: #172B4D; // Dropdowns, tables, tooltip
@ak-color-N900: #091E42; // Dropdowns, body, title
