@import 'colors';
@import 'borders';
@import 'fonts';

@ak-editor-code-font-family: @ak-code-font-family;
@ak-editor-inactive-foreground: @ak-color-N500;
@ak-editor-focus: @ak-color-B100;
@ak-editor-subtle-accent: @ak-color-N40;
@ak-editor-active-background: @ak-color-N500;
@ak-editor-active-foreground: @ak-color-primary4;
@ak-editor-dropdown-active-background: @ak-color-N900;
@ak-editor-popup-background: @ak-color-N700;
@ak-editor-popup-text: @ak-color-B50;
@ak-editor-primary-button: @ak-color-B400;
@ak-editor-code-background: @ak-color-primary3;
@ak-editor-code-block-padding: 12px;
@ak-editor-code-inline-padding: 2px 4px;
