// Note: this is hardcoded local values for now, subject to change
@ak-bold-font-family: 'Neue Hass Unica Pro Bold';
@ak-medium-font-family: 'Neue Hass Unica Pro Medium';

@font-face{
  font-family: @ak-bold-font-family;
  src: local('NeueHaasUnicaPro-Bold');
  font-style: normal;
}

@font-face{
  font-family: @ak-medium-font-family;
  src: local('NeueHaasUnicaPro-Medium');
  font-style: normal;
}

