@import 'shared-variables.less';

.container {
  display: flex;
}

.textInput {
  background: transparent;
  border: 0;
  color: @ak-editor-popup-text;
  flex-grow: 1;
  font-size: 13px;
  line-height: 20px;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: @ak-editor-popup-text;
    opacity: 0.5;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: @ak-editor-popup-text;
    opacity: 0.5;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: @ak-editor-popup-text;
    opacity: 0.5;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @ak-editor-popup-text;
    opacity: 0.5;
  }
}
