/*// AK-avatar web component
@import '../node_modules/ak-shared-styles/src/colors.less';

@aui-avatar-size-xxxlarge: 128px;
@aui-avatar-size-xxlarge: 96px;
@aui-avatar-size-xlarge: 64px;
@aui-avatar-size-large: 48px;
@aui-avatar-size-medium: 32px;
@aui-avatar-size-small: 24px;
@aui-avatar-size-xsmall: 16px;

@aui-avatar-project-border-color: @aui-color-ash-gray;
@aui-avatar-project-bg-color: @aui-color-white;

aui-avatar {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-bottom;

     > aui-avatar-inner {
        display: table-cell;
        height: inherit;
        vertical-align: middle;
        width: inherit;

        > .aui-avatar-img {
            border-radius: 3px;
            display: block;
            height: 100%;
            margin: 0 auto;
            width: 100%;
        }
    }

    &:not([resolved]) {
        display: inline-block;
        height: @aui-avatar-size-medium;
        vertical-align: text-bottom;
        width: @aui-avatar-size-medium;
    }

    // Size
    &[size="xsmall"] {
        height: @aui-avatar-size-xsmall;
        width: @aui-avatar-size-xsmall;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xsmall;
            max-width: @aui-avatar-size-xsmall;
        }
    }

    &[size="small"] {
        height: @aui-avatar-size-small;
        width: @aui-avatar-size-small;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-small;
            max-width: @aui-avatar-size-small;
        }
    }

    &[size="medium"] {
        height: @aui-avatar-size-medium;
        width: @aui-avatar-size-medium;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-medium;
            max-width: @aui-avatar-size-medium;
        }
    }

    &[size="large"] {
        height: @aui-avatar-size-large;
        width: @aui-avatar-size-large;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-large;
            max-width: @aui-avatar-size-large;
        }
    }

    &[size="xlarge"] {
        height: @aui-avatar-size-xlarge;
        width: @aui-avatar-size-xlarge;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xlarge;
            max-width: @aui-avatar-size-xlarge;
        }
    }

    &[size="xxlarge"] {
        height: @aui-avatar-size-xxlarge;
        width: @aui-avatar-size-xxlarge;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xxlarge;
            max-width: @aui-avatar-size-xxlarge;
        }
    }

    &[size="xxxlarge"] {
        height: @aui-avatar-size-xxxlarge;
        width: @aui-avatar-size-xxxlarge;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xxxlarge;
            max-width: @aui-avatar-size-xxxlarge;
        }
    }

    &[size="xxlarge"] > aui-avatar-inner > .aui-avatar-img,
    &[size="xxxlarge"] > aui-avatar-inner > .aui-avatar-img {
        border-radius: 5px;
    }
}*/

