@import 'shared-variables.less';

.img {
  background-clip: padding-box;
  background-color: @ak-avatar-background;
  border-radius: 100%;
  border: 1px solid transparent;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  vertical-align: bottom;

  &.xsmall {
    height: @ak-avatar-size-xsmall;
    width: @ak-avatar-size-xsmall;
  }
  &.small {
    height: @ak-avatar-size-small;
    width: @ak-avatar-size-small;
  }
  &.medium {
    height: @ak-avatar-size-medium;
    width: @ak-avatar-size-medium;
  }
  &.large {
    height: @ak-avatar-size-large;
    width: @ak-avatar-size-large;
  }
  &.xlarge {
    height: @ak-avatar-size-xlarge;
    width: @ak-avatar-size-xlarge;
  }
}
