@import '../node_modules/akutil-shared-styles/src/colors.less';

@ak-avatar-size-xlarge: 100px;
@ak-avatar-size-large: 50px;
@ak-avatar-size-medium: 30px;
@ak-avatar-size-small: 20px;

@ak-avatar-background: @ak-color-N40;

@ak-avatar-presence-color-online: @ak-color-G300;
@ak-avatar-presence-color-busy: @ak-color-Y500;
@ak-avatar-presence-color-offline: @ak-color-N40;

slot {
  display: inline-block;
  position: absolute;

  & >:first-child {
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 100%;
  }
}

.img {
  background-clip: padding-box;
  margin: 0 auto;
  border-radius: 100%;
  height: 100%;
  width: 100%;

  &.hidden {
    display: none;
  }

  &.loaded {
    animation: fadeIn 0.5s;
  }
}

.outerDiv {
  position: relative;
  background-color: @ak-avatar-background;
  border-radius: 100%;
  border: 1px solid transparent;
  vertical-align: bottom;

  &.small {
    .sizeMixin(@ak-avatar-size-small);

    slot {
      @slot-size: 8px;
      @slot-offset: 12px;

      .slotMixin(@slot-size, @slot-offset);
    }
  }
  &.medium {
    .sizeMixin(@ak-avatar-size-medium);

    slot {
      @slot-size: 8px;
      @slot-offset: 20px;

      .slotMixin(@slot-size, @slot-offset);
    }
  }
  &.large {
    .sizeMixin(@ak-avatar-size-large);

    slot {
      @slot-size: 12px;
      @slot-offset: 35px;

      .slotMixin(@slot-size, @slot-offset);
    }
  }
  &.xlarge {
    .sizeMixin(@ak-avatar-size-xlarge);

    slot {
      @slot-size: 22px;
      @slot-offset: 72px;

      .slotMixin(@slot-size, @slot-offset);

      & >:first-child {
        border-width: 4px;
      }
    }
  }
  &.loaded {
    background-color: transparent;
  }
}

.presence {
  position: relative;

  &.none {
    display: none;
  }

  &.online {
    background: @ak-avatar-presence-color-online;
  }

  &.busy {
    background: @ak-avatar-presence-color-busy;
  }

  &.offline {
    background: @ak-avatar-presence-color-offline;

    &:before {
      @middle-bubble-size: 50%;

      content: '';
      display: inline-block;
      position: absolute;
      height: @middle-bubble-size;
      width: @middle-bubble-size;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background-color: white;
    }
  }
}

.slotMixin(@size, @offset) {
  height: @size;
  width: @size;

  top: @offset;
  left: @offset;
}

.sizeMixin(@size) {
  height: @size;
  width: @size;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}