/* For styles that are shared between shadow and host (Variable definitions ONLY) */

@import '../node_modules/ak-shared-styles/src/colors.less';

@ak-avatar-size-xxxlarge: 128px;
@ak-avatar-size-xxlarge: 96px;
@ak-avatar-size-xlarge: 64px;
@ak-avatar-size-large: 48px;
@ak-avatar-size-medium: 32px;
@ak-avatar-size-small: 24px;
@ak-avatar-size-xsmall: 16px;
