@foregroundColor: #505F79;
@focusColor: #0091EA;
@hoverColor: #DEE1E6;
@activeBackgroundColor: #42526E;
@activeForegroundColor: white;

.font-select {
  cursor: pointer;
  padding: 5px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  &.active {
    background: @foregroundColor;
    color: @activeForegroundColor;
  }
  &.hover {
    color: @hoverColor;
  }
}

ak-layer {
  overflow: hidden;
  border-radius: 3px;
}

.paragraph {
  font-size: 1rem;
}

.heading1 {
  font-size: 2.5rem;
}

.heading2 {
  font-size: 2rem;
}

.heading3 {
  font-size: 1.75rem;
}

.monospace {
  font-family: monospace;
}
