@activeBackgroundColor: #42526e;
@activeFontColor: #fff;
@hoverBackgroundColor: #E7EAF0;
@hoverFontColor: #42526E;

.font-select {
  cursor: pointer;
  padding: 5px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  &.active {
    background: @activeBackgroundColor;
    color: @activeFontColor;
    &:hover {
      background: @activeBackgroundColor;
      color: @activeFontColor;
    }
  }
  &:hover {
    background: @hoverBackgroundColor;
    color: @hoverFontColor;
  }
}

ak-layer {
  overflow: hidden;
  border-radius: 3px;
}

.paragraph {
  font-size: 1rem;
}

.heading1 {
  font-size: 2.5rem;
}

.heading2 {
  font-size: 2rem;
}

.heading3 {
  font-size: 1.75rem;
}

.monospace {
  font-family: monospace;
}
