.root {
  box-sizing: border-box;
}

.dropdown {
  z-index: 10;
  position: relative;
}

.dropdown-content {
  list-style-type: none;
  margin-top: 3px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.05), 0 3px 10px -4px rgba(0,0,0,0.4);
  overflow: hidden;
}
