@backgroundColor: #42526e;
@fontColor: #fff;
@hoverBackgroundColor: #DEE1E6;
@hoverFontColor: #DEE1E6;
@activeBackgroundColor: #091E42;
@activeFontColor: white;

.selectOptions {
  background: @backgroundColor;
  color: @fontColor;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 5px 20px;
  &.active {
    background: @activeBackgroundColor;
    color: @activeFontColor;
  }
  &:hover {
    background: @hoverBackgroundColor;
    color: @hoverFontColor;
  }
}

.paragraph {
  font-size: 1rem;
}

.heading1 {
  font-size: 2.5rem;
}

.heading2 {
  font-size: 2rem;
}

.heading3 {
  font-size: 1.75rem;
}

.monospace {
  font-family: monospace;
}
