@backgroundColor: #42526e;
@fontColor: white;
@hoverBackgroundColor: #091E42;
@hoverFontColor: white;
@activeBackgroundColor: #091E42;
@activeFontColor: white;

.selectOptions {
  background: @backgroundColor;
  color: @fontColor;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 5px 70px 5px 10px;
  &.active {
    background: @activeBackgroundColor;
    color: @activeFontColor;
  }
  &:hover {
    background: @hoverBackgroundColor;
    color: @hoverFontColor;
  }
}

.paragraph {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.heading1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.heading2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.heading3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.monospace {
  font-family: monospace;
}
