@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';

@grid: @ak-grid-size/2;

.group {
  box-sizing: border-box;
  display: block;
  margin-top: unit(@grid * 2, px);

  &:first-child {
    margin-top: 0;
  }
}

.heading {
  color: @ak-color-N50;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  padding:unit(@grid * 2, px) unit(@grid * 3, px);
  text-transform: uppercase;
}
