@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';

@grid: @ak-grid-size;

.group {
  box-sizing: border-box;
  display: block;
  margin-top: @grid;

  &:first-child {
    margin-top: 0;
  }
}

.heading {
  color: @ak-color-N300;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  padding: @grid @grid * 3;
  text-transform: uppercase;
}
