@import '../shared-variables.less';

.resize {
  height: 100%;
  right: -4px;
  width: 8px;
  cursor: ew-resize;
  position: absolute;
  
  &::after {
    content: '';
    width: 2px;
    left: 3px;
    height: 100%;
    position: absolute;
  }
  &:hover:after {
    background-color: @ak-color-B200;
  }
}
