<?js
    var data = obj;
    var self = this;

    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>x
    <?js } ?>
    <div class="live-example">
        <?js= example.code ?>
    </div>
    <pre class="prettyprint"><code><?js= self.htmlsafe(example.code) ?></code></pre>
<?js
    });
?>
