@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '~akutil-shared-styles/src/z-indexes.less';

.root {
  margin-left: -@ak-grid-size;
  display: flex;
  flex-direction: column;
}

.read-view-wrapper {
  max-width: 100%;
  display: inline-flex;
  flex: 0 1 auto;
}

.content-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}

.field-base-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;

  &:hover .edit-button {
    opacity: 1;
  }
}

.spinner-wrapper {
  margin-left: unit(@ak-grid-size / 2, px);
  margin-top: unit(@ak-grid-size / 2, px);
  display: inline-flex;
  align-items: flex-end;
  // TODO: Remove this when updated to specs version 1.1
  // field-base should stay the same width so we need to provide a
  // min-width to cover action buttons width.
  // min-width: unit(@ak-grid-size / 2*3 + 32 + 32, px);
}

.read-view-content-wrapper {
  display: inline-flex;
  max-width: 100%;
}

.buttons-wrapper {
  display: flex;
  position: absolute;
  top: 100%;
  margin-top: unit(@ak-grid-size / 2, px);
  flex-shrink: 0;

  .button-wrapper {
    z-index: 200;
    box-sizing: border-box;
    border-radius: unit(@ak-grid-size / 2 - 1, px);
    background-color: @ak-color-N0;
    box-shadow: 0 unit(@ak-grid-size / 2, px) @ak-grid-size unit(-(@ak-grid-size / 4), px) fade(@ak-color-N900, 28%),
                0 0 1px fade(@ak-color-N900, 30%);
  }

  .button-wrapper:last-child {
    margin-left: unit(@ak-grid-size / 2, px);
  }
}

.edit-button-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit-icon-wrapper {
  &.hidden {
    display: none !important;
  }
}

// the vendor prefixes here are deliberate. 'appearance' does not seem to get picked up by postcss,
// eslint or even Chrome for some reason. :/
.edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: @ak-color-N500;
  display: inline-flex;
  flex-direction: row-reverse;
  line-height: 1;
  margin: 0;
  opacity: 0;
  outline: 0;
  padding: 0 0 0 unit(@ak-grid-size / 2 * 2, px);
  transition: opacity 0.2s ease-in-out;

  &:focus {
    opacity: 1;
  }

  &.hidden {
    padding: 0 !important;
  }

  &::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
