@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';

@grid: 4;

.root {
  display: block;
  margin-left: -@ak-grid-size;
}

.read-view-wrapper {
  max-width: 100%;
}

.content-wrapper {
  display: inline-flex;
  alignItems: center;
}

.field-base-wrapper {
  display: inline-flex;
  &:hover .edit-button {
    opacity: 1;
    transition: opacity 0.2s ease-in-out,
  }
}

.hidden {
  display: none !important;
}

.spinner-wrapper {
  margin-left: unit(@grid, px);
  // TODO: Remove this when updated to specs version 1.1
  // field-base should stay the same width so we need to provide a
  // min-width to cover action buttons width.
  min-width: unit(@grid*3 + 32 + 32, px);
}

.read-view-content-wrapper {
  display: inline-flex;
  max-width: 100%;
}

.buttons-wrapper {
  display: flex;
  margin-left: unit(@grid, px);

  button:last-child {
    margin-left: unit(@grid, px);
  }
}

.button-wrapper-hidden {
  visibility: hidden;
}

.edit-button-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

// the vendor prefixes here are deliberate. 'appearance' does not seem to get picked up by postcss,
// eslint or even Chrome for some reason. :/
.edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: @ak-color-N500;
  display: inline-flex;
  flex-direction: row-reverse;
  line-height: 1;
  margin: 0;
  opacity: 0;
  outline: 0;
  padding: 0 0 0 unit(@grid * 2, px);

  &:focus {
    opacity: 1;
  }

  &::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
