@import 'shared-variables.less';

.root {
  bottom: @ak-grid-size * 3;
  left: 80px;
  position: fixed;
  width: @flag-width;
  z-index: 4;
  background: rgba(0, 0, 0, 0.25);
  transition: bottom 0.25s ease-out;
}

.group-inner {
  position: relative;
}
