@import 'shared-variables.less';
@import '~akutil-shared-styles/src/grid.less';
@import '~akutil-shared-styles/src/colors.less';

@dismiss-icon-width: @ak-grid-size * 4;
@flag-animation-duration: .4s;
@exit-x-position: -0.5 * @flag-width;

@keyframes enter {
    from {
      opacity: 0;
      transform: translate(@exit-x-position, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(@exit-x-position, 0);
  }
}

.root {
  background-color: @ak-color-N0;
  border: 1px solid @ak-color-N30;
  border-radius: @ak-grid-size * 0.5;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 (@ak-grid-size * 2.5) (@ak-grid-size * 4) (@ak-grid-size * -1) fade(@ak-color-N900, 24%),
              0 0 1px fade(@ak-color-N900, 3%);
  display: flex;
  margin-bottom: @ak-grid-size * 2.5;
  padding: @ak-grid-size * 2;
  position: absolute;
  transition: transform @flag-animation-duration ease-in-out;
  width: 100%;

  &.entering:first-child {
    animation-name: enter;
    animation-duration: @flag-animation-duration;
    // animation-fill-mode: forwards;
  }

  &.exiting:first-child {
    animation-name: exit;
    animation-duration: @flag-animation-duration;
    // animation-fill-mode: forwards;
  }

  &:first-child {
    transform: translate(0, 0);
  }

  &:nth-child(2) {
    transform: translate(0, calc(100% + (@ak-grid-size * 2)));
  }

  // Layer the 'primary' flag above the 'secondary' flag
  &:nth-child(1) { z-index: 5; }
  &:nth-child(2) { z-index: 4; }

  // Only show 1st and 2nd flags
  &:nth-child(n+3) { display: none; }
}

.primary-icon {
  flex: 0 0 auto;
  width: (@ak-grid-size * 4);
}

.text-content {
  flex: 1 1 auto;
}

.title-and-dismiss {
  display: flex;
}

.title {
  font-weight: 600;
  flex: 1 0 auto;
  max-width: @flag-width - (@ak-grid-size * 12);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dismiss-icon-button {
  appearance: none;
  background: none;
  border: none;
  color: @ak-color-N500;
  cursor: pointer;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: @dismiss-icon-width;

  &:hover {
    color: @ak-color-N900;
  }
}

.description {
  color: @ak-color-N500;
  margin-top: @ak-grid-size;
}
