@import 'shared-variables.less';

.icon {
  box-sizing: border-box;
  display: inline-flex;
  line-height: 1;
  vertical-align: baseline;
  width: 20px; // duplicated in ../bin/constants.js
  height: 20px; // duplicated in ../bin/constants.js
}

.content {
  margin: auto;
  display: inline-block;

  & > svg {
    vertical-align: bottom; 
  }
}
