@import 'shared-variables.less';
@import 'ak-navigation-link.less';

// Hard coded for now as we don't have the full palette yet
@ak-navigation-global-color: #004CAF;
@ak-navigation-container-color: #EFF2F5;
@ak-navigation-container-name-color: #42526E;

.navigation {
  background-color: @ak-navigation-container-color;
  top: 0;
  left: 0;
  position: fixed;
  width: 80px;
  height: 100%;
  display: flex;

  &.should-animate {
    transition: width 250ms;
  }

  &.open {
    width: 300px;
  }

  .global {
    flex: 0 0 80px;
    background-color: @ak-navigation-global-color;
  }

  .container {
    padding: 20px 0;
    overflow: hidden;
  }

  .container-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .container-name {
    color: @ak-navigation-container-name-color;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: @ak-bold-font-family;
    font-size: 14px;
    padding: 0 20px;
  }

  .container-links {
    font-family: @ak-medium-font-family;
    font-size: 14px;
    padding: 0 20px;
  }
}

