@import 'shared-variables.less';

@ak-navigation-link-color: @ak-color-N500;
@ak-navigation-selected-link-color: @ak-color-B500;

.wrapper {
  color: @ak-navigation-link-color;
  margin: 10px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.icon {
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
  display: inline-block;
}

.text {
  line-height: 30px;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
}

.selected {
  color: @ak-navigation-selected-link-color;
}
