@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/borders.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@grid: @ak-grid-size;
@itemFocusWidth: 2px;

@ak-dropdown-border-radius: @ak-border-radius;
@ak-dropdown-background-main-color: @ak-color-N0;
@ak-dropdown-shadow-color: @ak-color-N50A;
@ak-dropdown-border-color: @ak-color-N40A;
