@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';
@import '../../shared-variables.less';

.containerNavigationOuter {
  height: 100%;
  position: fixed;
  .should-animate & {
    transition: width @resize-animation-time, transform @resize-animation-time;
  }
}

.containerNavigationInner {
  box-sizing: border-box;
  background: @ak-color-N20;
  color: @ak-color-N500;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: (@ak-grid-size * 2) @ak-grid-size 0 @ak-grid-size;
  a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
  }

  &:not(.hasContainerHeader) {
    padding-top: @ak-grid-size * 3;
  }

  &.hasGlobalAppearance {
    background-color: @ak-color-B500;
    color: @ak-color-N0;
  }
}
