@import '~@atlaskit/util-shared-styles/src/colors.less';

@border-radius: 3px;

.containerItem {
  border-radius: @border-radius;

  &:hover,
  &.isSelected {
      background: @ak-color-N20A;

    &.hasGlobalAppearance {
      color: @ak-color-N0;
      background: @ak-color-N50A;
    }
  }
}

.isSelected {
  color: @ak-color-B400;
}
