@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/mixins/focus-ring.less';
@import '../../shared-variables.less';

@divider-line-height: 2px;
@divider-total-height: @ak-grid-size * 5;

.header {
  display: flex;
  margin-bottom: @ak-grid-size;
  margin-left: @ak-grid-size;
  margin-top: @ak-grid-size * 2;

  [data-__ak-navigation-container-closed="true"] & {
    margin-left: 0.5 * @ak-grid-size;
    margin-right: 0.5 * @ak-grid-size;
    border-top: 1px solid @ak-color-N40A;

    .title, .action {
      visibility: hidden;
    }
  }
}

.noHeaderContent {
  margin-top: @ak-grid-size * 3;
  &:first-child {
    margin-top: 0;
  }
}

.title {
  align-self: center;
  color: @ak-color-N90;
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  text-transform: uppercase;
}

.action {
  margin-right: @ak-grid-size;
}

.separator {
  margin-top: (@divider-total-height - @divider-line-height) / 2;
  margin-bottom: (@divider-total-height - @divider-line-height) / 2;
  height: @divider-line-height;
  background: @ak-color-N20A;

  &.hasGlobalAppearance {
    background: @ak-color-N50A;
  }

  &.hasProjectSettingsAppearance {
    background: @ak-color-N900;
  }
}
