@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '../../shared-variables.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@narrow-width: 45 * @ak-grid-size;
@wide-width: 75 * @ak-grid-size;
@full-width: 100vw;
@box-shadow-spread: 4 * @ak-grid-size;
@narrow-width-off-screen-translate-x: @narrow-width + @box-shadow-spread;
@wide-width-off-screen-translate-x: @wide-width + @box-shadow-spread;
@full-width-off-screen-translate-x: @full-width + @box-shadow-spread;
@transform-transition: transform 220ms cubic-bezier(0.15, 1, 0.3, 1);
@width-transition: width 220ms cubic-bezier(0.15, 1, 0.3, 1);

.hidden {
  display: none;
}

.drawer {
  background: @ak-color-N0;
  background: @ak-color-N0;
  box-shadow: -(@ak-grid-size * 4) 0 (@ak-grid-size * 4) @box-shadow-spread rgba(23,43,77,0.24);
  color: @ak-color-N500;
  display: flex;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  transform: translateX(-@narrow-width-off-screen-translate-x);
  transition: @transform-transition, @width-transition;
  width: @narrow-width;
  &:not(.open) {
    box-shadow: none;
  }
  &.wide-width {
    width: @wide-width;
    transform: translateX(-@wide-width-off-screen-translate-x);
  }
  &.full-width {
    width: @full-width;
    transform: translateX(-@full-width-off-screen-translate-x);
  }
  &.open, &.wide-width.open, &.full-width.open {
    transform: translateX(0);
  }
}

.header {
  min-height: @ak-grid-size * 7;
  padding-top: @ak-grid-size;
}

.side {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; 
  padding: @global-vertical-padding-top 0 @ak-grid-size * 2 0;
  width: @global-open-width;

  .icon {
    align-items: center;
    display: flex;
    height: @drawer-back-icon-size;
    justify-content: center;
    width: @drawer-back-icon-size;
  }

  .backIconOuter {
     position: absolute,
  }
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: (@ak-grid-size * 2) @ak-grid-size 0 @ak-grid-size;
  position: relative;
  width: 100%;
}

.content {
  width: 100%;
}

.fixed {
  transition: @transform-transition;
  transform: translateX(@narrow-width-off-screen-translate-x);
  .wide-width & {
    transform: translateX(@wide-width-off-screen-translate-x);
  }
  .full-width & {
    transform: translateX(@full-width-off-screen-translate-x);
  }
  .open &, .wide-width.open &, .full-width.open & {
    transform: translateX(0);
  }
}
