@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '../../shared-variables.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@width: 45 * @ak-grid-size;
@wide-width: 75 * @ak-grid-size;
@box-shadow-spread: 4 * @ak-grid-size;
@off-screen-translate-x: @width + @box-shadow-spread;
@wide-off-screen-translate-x: @wide-width + @box-shadow-spread;
@transform-transition: transform 220ms cubic-bezier(0.15, 1, 0.3, 1);

.hidden {
  display: none;
}

.drawer {
  background: @ak-color-N0;
  background: @ak-color-N0;
  box-shadow: -(@ak-grid-size * 4) 0 (@ak-grid-size * 4) @box-shadow-spread rgba(23,43,77,0.24);
  color: @ak-color-N500;
  display: flex;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  transform: translateX(-@off-screen-translate-x);
  transition: @transform-transition;
  width: @width;
  &:not(.open) {
    box-shadow: none;
  }
  &.wide {
    width: @wide-width;
    transform: translateX(-@wide-off-screen-translate-x);
  }
  &.open, &.wide.open {
    transform: translateX(0);
  }
}

.side {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: @global-vertical-padding 0;
  width: @global-open-width;

  .icon {
    align-items: center;
    display: flex;
    height: @drawer-back-icon-size;
    justify-content: center;
    width: @drawer-back-icon-size;
  }

  .backIconOuter {
     position: absolute,
  }
}

.main {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding: (@ak-grid-size * 2) @ak-grid-size 0 @ak-grid-size;
  width: calc(~"100% -" @global-open-width)
}

.fixed {
  transition: @transform-transition;
  transform: translateX(@off-screen-translate-x);
  .wide & {
    transform: translateX(@wide-off-screen-translate-x);
  }
  .open &, .wide.open & {
    transform: translateX(0);
  }
}
