@import '~@atlaskit/util-shared-styles/src/colors.less';

@border-radius: 3px;

.NavigationItem {
  color: @ak-color-N500;
  border-radius: @border-radius;

  &:hover {
      background: @ak-color-N20A;
  }

  &:active {
    background: @ak-color-B50;
    color: @ak-color-B400;
  }
}
