@import '~@atlaskit/util-shared-styles/src/mixins/focus-ring.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

.drawerTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: @ak-grid-size * 5;
  height: @ak-grid-size * 5;
  outline: none;
  color: white;

  .focus-ring();
}
