@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';
@import '../../shared-variables.less';

.globalItem {
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover, &:focus, &.isSelected {
    background-color: @ak-color-N90A;
  }

  &:active {
    background-color: @ak-color-B200;
  }
}

.smallGlobalItem {
  height: (@ak-grid-size * 4);
  margin-top: @ak-grid-size;
  width: (@ak-grid-size * 4);
}

.mediumGlobalItem {
  height: @global-item-medium-size;
  width: @global-item-medium-size;
}

.largeGlobalItem {
  height: @ak-grid-size * 6;
  width: @ak-grid-size * 6;
}

.hasContainerAppearance {
  color: @ak-color-N500;

  &:hover {
    background-color: @ak-color-N20A;
  }

  &:active {
    color: @ak-color-B500;
    background-color: @ak-color-B50;
  }
}
