@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '../../shared-variables.less';

.globalNavigationOuter {
  position: relative;
}

.globalNavigation {
  align-items: center;
  background: @ak-color-B500;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0;
  padding: @global-vertical-padding 0;
  position: fixed;
  width: @global-open-width;
  .shouldAnimate & {
    transition: transform @resize-animation-time;
  }

  .hasSettingsAppearance & {
    background: @ak-color-N800;
  }
}

.primaryItem {
  margin-bottom: (@ak-grid-size * 1.5);
  margin-top: @ak-grid-size * 0.5;
}

.primaryContainer {
  flex: 1;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: (@ak-grid-size * 2.5);
}
