@import '../../shared-variables.less';
@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';
@import '~akutil-shared-styles/src/mixins/focus-ring.less';


.search {
  padding: @ak-grid-size * 0.5 0 0 @ak-grid-size * 3;
}

.searchBox {
  display: flex;
  color: @ak-color-N800;
}

.input {
  border: 0;
  color: inherit;
  flex-grow: 1;
  font-size: 1.4em;
  outline: 0;
}

.clearButtonOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: @ak-grid-size * 2;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: @ak-grid-size * 4;
  height: @ak-grid-size * 4;
  outline: none;
  color: inherit;

  .focus-ring();

  &:hover {
    background: @ak-color-N20A;
  }

  &:active {
    background: @ak-color-B50;
    color: @ak-color-B400;
  }
}


.results {
  margin-top: @ak-grid-size * 3;
}
