// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

@border-radius: 3px;
@outline-width: 2px;
@grid-unit: 10px;
@max-height: 18px;
@distance: 4px;
@max-width: 200px - 2 * @distance;
@button-width: @grid-unit + @border-radius;
@font-size: 14px;

.outline(@color) {
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px @outline-width @color;
  }
}

.nooutline() {
  box-shadow: none;
}

.chrome {
  cursor:default;
  background-color: @ak-color-N20;
  padding: 0;
  margin: 0;
  border-radius: @border-radius;
  display: flex;
  height: @max-height;
  max-height: @max-height;
  flex-direction: row;
  .outline(@ak-color-B100);
  &:hover {
    background-color: @ak-color-N30;
    .nooutline();

    .button {
      .nooutline();
    }
  }
  &.isLinked.markedForRemoval {
    background-color: @ak-color-R50;

    .href {
      color: @ak-color-R500;
    }
  }

  &:focus {
    .href {
      color: @ak-color-B400;
    }
  }

  &.isRemovable {
    .text, .href {
      max-width: @max-width - @button-width;
    }
  }
}

.text {
  font-family: @ak-font-family;
  color: @ak-color-N700;
  font-size: @font-size;
  margin-left: @distance;
  margin-right: @distance;
  align-self: flex-start;
  height: 100%;

  // text truncation
  max-width: @max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.href {
  .text;
  text-decoration: none;

  &:hover {
    color: @ak-color-B400;
  }
}

.button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: @border-radius;
  align-self: flex-end;
  display: flex;
  .outline(@ak-color-R300);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: @button-width;
  color: @ak-color-N500;
  &:hover {
    color: @ak-color-R500;
  }
}
