// These styles will be inserted into a style tag inside
// the shadow dom of each instance of the component

// Only do class selectors in here, anything else leaks to the rest of the page in
// browsers that do not support shadow DOM
@import 'shared-variables.less';

@border-radius: 3px;
@grid-unit: 10px;
@max-height: 18px;
@distance: 4px;

.outline() {
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px @border-radius @ak-color-B100;
  }
}

.chrome {
  background-color: #E5E8ED; // TODO: change this to ADG color from akutil-shared-styles
  padding: 0;
  margin: 0;
  border-radius: @border-radius;
  display: flex;
  height: @max-height;
  max-height: @max-height;
  flex-direction: row;
  .outline();
}

.text {
  font-family: @ak-font-family;
  color: @ak-color-N700;
  font-size: 14px;
  margin-left: @distance;
  margin-right: @distance;
  align-self: flex-start;
  height: 100%;
}

.href {
  .text;
  text-decoration: none;

  &:hover {
    color: @ak-color-B400;
  }
}

.button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: @border-radius;
  align-self: flex-end;
  display: flex;
  .outline();
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10px;
}
