@import 'shared-variables.less';

.root {
  border: 1px solid #DEE1E6;
  font-size: 14px;
  padding: 20px;

  .childContent() { margin: 20px; }
  > slot > * { .childContent(); }
  > ::content > * { .childContent(); }
  // Re-instate when https://ecosystem.atlassian.net/browse/AK-146 is resolved.
  //> ::slotted(*) { .childContent(); }
}

.saveButton {
  // TODO: move out to shared styles
  background: #165ECC;
  border: 1px solid #165ECC;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 15px;
}

.cancelButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin-left: 20px;
  opacity: 0.5;

  &:active {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.openTop {
  border-top: 0;
}
