@import 'shared-variables.less';

.root {
  display: block;
  background: white;

  [contenteditable] {
    outline: none;
    white-space: pre-wrap;
  }
}

.fake-input {
  width: 100%;
  display: block;
  height: 50px;
  &.comment {
    height: 30px;
  }
}

.content {
  cursor: text;
}

.focused {
  box-shadow: 0 0 0 2px @ak-editor-focus;
  border-radius: 2px;
}
