@import './styles.less';

@error-color: @ak-color-N800;
@error-sub-color: @ak-color-N90;

.profilecard-resourced {
  .font-smoothing;
  font-family: @ak-font-family;
  width: 360px;
  height: 185px;
  background: @card-bg;
  box-shadow: @card-shadow;
  border-radius: @ak-border-radius;
  overflow: hidden;
}

.spinnerContainer {
  position: relative;
  min-height: 185px;
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 185px;

  p {
    color: @error-color;
    text-align: center;
    line-height: 1.5em;

    svg {
      width: 60px;
      height: 60px;
      margin: 0 auto 0.5em auto;
    }

    span {
      color: @error-sub-color;
    }
  }
}
