@import './styles.less';

@error-color: @ak-color-N800;
@error-sub-color: @ak-color-N90;

.profilecard-resourced {
  .font-smoothing;
  font-family: @ak-font-family;
  width: 360px;
  background: @card-bg;
  box-shadow: @card-shadow;
  border-radius: @ak-border-radius;
  overflow: hidden;
}

.spinnerContainer {
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  text-align: center;
  padding: 24px 0 16px 0;

  svg {
    color: @error-sub-color;
  }

  p {
    color: @error-color;
    line-height: 24px;
    margin: 8px 0;

    span {
      color: @error-sub-color;
    }
  }
}
