@import 'shared-variables.less';

.ak-dropdown,
ak-dropdown {
  display: inline-block;
}

.ak-dropdown-item,
ak-dropdown-item {
  display: block;

  > _shadow_root_ {
    display: block;
  }

}

.ak-dropdown-trigger,
ak-dropdown-trigger,
.ak-dropdown-trigger-button,
ak-dropdown-trigger-button,
.ak-dropdown-trigger-arrow,
ak-dropdown-trigger-arrow {
  display: inline-block;

  // first group element shouldn't have any empty space above it
  & + .ak-dropdown-group,
  & + ak-dropdown-group {
    margin-top: 0;
  }
}

.ak-dropdown-list,
ak-dropdown-list {
  opacity: 0;
  position: absolute;

  &[positioned] {
    opacity: 1;
  }
}

.ak-dropdown-group,
ak-dropdown-group {
  display: block;
  margin-top: unit(@grid * 2, px);
}
