@import 'shared-variables.less';

.item {
  .flex();
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  line-height: 20/14;
  padding: 0 unit(@grid * 2, px);
  text-decoration: none;

  &:not(.disabled) {
    color: @ak-dropdown-font-main-color;
    cursor: pointer;

    &:hover {
      background-color: @ak-dropdown-background-hover-color;

      .itemLeftPosition {
        color: rgba(137, 147, 164, 0.48);  //n90, 48% opacity, TODO AK-397
        fill: transparent;
      }

      &.selectedWithIcon {
        .itemLeftPosition {
          color: @ak-color-B50;
          fill: @ak-color-N700;
        }
      }
    }

    &:active {
      background-color: @ak-dropdown-background-active-color;
      color: @ak-dropdown-font-active-color;

      .itemLeftPosition {
        color: rgba(137, 147, 164, 0.48);  //n90, 48% opacity, TODO AK-397
        fill: transparent;
      }

      &.selectedWithIcon {
        .itemLeftPosition {
          color: rgba(137, 147, 164, 0.48);  //n90, 48% opacity, TODO AK-397
          fill: @ak-color-N700;
        }
      }
    }

    .itemLeftPosition {
      color: @ak-color-N400;
      fill: @ak-color-N400;
    }

    &.selectedWithIcon {
      .itemLeftPosition {
        color: @ak-color-B50;
        fill: @ak-color-N700;
      }
    }
  }

  &.disabled {
    .itemLeftPosition {
      color: @ak-color-N600;
      fill: transparent;
    }

    &.selectedWithIcon {
      .itemLeftPosition {
        color: @ak-color-N600;
        fill: @ak-color-N700;
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px @ak-dropdown-focused-outline-color;
    outline: none;
    position: relative; // prevents bgcolor from obfuscating focus ring of focused elements
  }

  &.hidden {
    display: none;
  }
}

.selected {
  background-color: @ak-dropdown-background-selected-color;
  color: @ak-dropdown-font-main-color;
}

.selectedWithIcon {
  background: none;
}

.disabled {
  background-color: @ak-dropdown-background-disabled-color;
  color: @ak-dropdown-font-disabled-color;
  cursor: not-allowed;
}

.itemLeftPosition {
  margin: 0 unit(@grid, px);
  min-width: unit(@grid * 5, px);
}

.itemDefaultPosition {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: unit(@grid, px);
}

