.path-animate {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #42526e;
  animation: optimisticSlide 0.2s ease-in-out infinite;
}
.spinner {
  animation: spinnerLoad 0.53s ease-in-out;
  animation-fill-mode: forwards;
}
.spinner svg circle {
  animation: spinnerSpin 0.86s infinite;
  animation-timing-function: cubic-bezier(0.4, 0.15, 0.6, 0.85);
  transition: stroke-dashoffset 0.8s ease-in-out, opacity 0.2s ease-in-out 0.45s;
  opacity: 0;
  transform-origin: center;
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  stroke: #42526e;
}
.spinner.active {
  animation: spinnerLoad2 1s ease-in-out;
  animation-fill-mode: forwards;
}
.spinner.active svg circle {
  opacity: 1;
  stroke-dashoffset: 74;
  transition: stroke-dashoffset 0.8s ease-in-out, opacity 0.2s ease-in-out;
}

@keyframes spinnerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerLoad2 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(230deg);
  }
}

@keyframes spinnerLoad {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(510deg);
  }
}