@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@banner-padding: @ak-grid-size * 2;
@banner-animation-duration: .25s ease-in-out;

// Helper function for generating colour variants
.bannerVariant(@name, @bg, @color) {
  &.@{name} .banner-content {
    background-color: @bg;
    color: rgba(255, 255, 255, 0);
  }

  &.open.@{name} .banner-content {
    color: @color;
    fill: @bg;
  }
}

.banner {
  max-height: 0px;
  overflow: hidden;
  transition: max-height @banner-animation-duration;

  .banner-content {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: @banner-padding;
    text-align: center;
    transition: color @banner-animation-duration;
  }

  .banner-icon {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    flex: 0 1 auto;
    overflow: hidden;
    padding-left: @ak-grid-size / 2;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bannerVariant(warning, @ak-color-Y300, @ak-color-N800);
  .bannerVariant(error, @ak-color-R400, @ak-color-N0);
}

.open {
  max-height: 4em;
}
