body {
    background: yellow;
    
    span.blue {
    	background: #62C4F3;
    }

    .sean-button {
    	border: 1px dashed;
    	border-radius: 5px;
    	padding: 5px;
    	border-color: red;
    }
}
