@import '~akutil-shared-styles/src/colors.less';

.container {
  color: @ak-color-N300;
  display: flex;
  flex-wrap: wrap;

  // Override link button color and adding
  .item > a {
    color: @ak-color-N300;
    padding: 0;
  }

  .item + .item::before {
    content: '/';
    display: inline-block;
    min-width: 24px;
    text-align: center;
  }
}
