// You can use element selectors here (e.g. whatever is exposed in index.js)
// to style your web component light DOM.

// Anything in here leaks to the rest of the page and nothing in here can affect things within
// the shadow part of the component.


// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-tooltip,
ak-tooltip {
  display: block;
  // we remove pointer events to prevent the tooltip from getting in the way of hovering
  pointer-events: none;
  top: -9999px;
  left: -9999px;
  // The width is required to prevent an issue where the tooltip wont stretch to fit content.
  width: 100vw;

  &:not([visible]) {
    display: none;
  }
}
