@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/grid.less';

.root {
  border: 1px solid @ak-color-N500;
  border-radius: @ak-grid-size / 2;
  margin: @ak-grid-size * 4;
  padding: @ak-grid-size;
}
