@import 'shared-variables.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';
@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/mixins/focus-ring.less';

.root {
  background-color: @ak-color-N0;
  border: 1px solid @ak-color-N30;
  border-radius: @ak-grid-size * 0.5;
  box-sizing: border-box;
  box-shadow: 0 (@ak-grid-size * 2.5) (@ak-grid-size * 4) (@ak-grid-size * -1) fade(@ak-color-N900, 24%),
              0 0 1px fade(@ak-color-N900, 3%);
  display: flex;
  padding: @ak-grid-size * 2;
  width: 100%;

  .focus-ring();
}

.primary-icon {
  flex: 0 0 auto;
  width: (@ak-grid-size * 4);
}

.text-content {
  flex: 1 1 auto;
}

.title-and-dismiss {
  display: flex;
}

.title {
  font-weight: 600;
  flex: 1 0 auto;
  max-width: @flag-width - (@ak-grid-size * 12);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dismiss-icon-button {
  appearance: none;
  background: none;
  border: none;
  color: @ak-color-N500;
  cursor: pointer;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: @ak-grid-size * 4;
  .focus-ring();

  &:hover {
    color: @ak-color-N900;
  }
}

.description {
  color: @ak-color-N500;
  margin-top: @ak-grid-size;
}

// Lifted from ak-comment :)
.actions-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: @ak-grid-size;

  .actions-item {
    .action-button:not(:hover):not(:active) {
      color: @ak-color-N100;
    }

    & + .actions-item::before {
      color: @ak-color-N500;
      content: "\b7\a0"; // middot character
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      width: @ak-grid-size * 2;
    }
  }
}
