@import '~@atlaskit/util-shared-styles/src/grid.less';
@import '~@atlaskit/util-shared-styles/src/z-indexes.less';
@import '~@atlaskit/util-shared-styles/src/mixins/a11y.less';

.root {
  bottom: @ak-grid-size * 6;
  left: @ak-grid-size * 10;
  position: fixed;
  z-index: @ak-z-index-flag;
}

.assistive {
  .assistive();
}

.group-inner {
  position: relative;
}
