@import '~ak-editor-shared-styles/src/index';

.input {
  background-color: white;
  border: 1px solid @ak-editor-subtle-accent;
  border-radius: @ak-border-radius;
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  &::placeholder {
    color: @ak-color-N100;  
  }

  &:hover {
    border-color: @ak-color-N50;
    cursor: pointer;

    &::placeholder {
      color: @ak-color-N400;  
    }
  }
}
