@import 'shared-variables.less';

.trigger {
  box-sizing: border-box;
  color: @ak-color-N500;
  padding: 0 10px;
  cursor: pointer;
  background-color: @ak-color-N20;
  border-radius: @ak-dropdown-border-radius;
  height: 30px;
  line-height: 30px;

  &:hover {
    background-color: @ak-color-N40;
  }

  &:active {
    background-color: @ak-color-N700;
    color:#fff;
  }

  &:focus {
    box-shadow: 0 0 0 2px @ak-color-B200;
    outline: none;
  }
}

.opened {
  &, &:active, &:hover {
    background-color: @ak-color-N500;
    color: #fff;
  }
}

.disabled {
  &, &:active, &:hover {
    background-color: @ak-color-N900;
    opacity: 0.6;
    color: @ak-color-N70;
    cursor: not-allowed;
  }
}
