@import 'shared-variables.less';

.trigger {
  .flex();
  background-color: @ak-color-N20;
  border-radius: @ak-dropdown-border-radius;
  box-sizing: border-box;
  color: @ak-color-N500;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  line-height: 1;
  padding: 0 10px;

  &:not(.opened), &:not(.disabled) {
    &:hover {
      background-color: @ak-color-N40;
    }

    &:active {
      background-color: @ak-color-N700;
      color:#fff;
    }

    &:focus {
      box-shadow: 0 0 0 2px @ak-color-B200;
      outline: none;
    }
  }
}

.opened {
  background-color: @ak-color-N500;
  color: #fff;
}

.disabled {
  background-color: @ak-color-N900;
  color: @ak-color-N70;
  cursor: not-allowed;
  opacity: 0.6;
}
