@import 'shared-variables.less';

@spacing: 10px;

.flex() {
  display: flex;
  padding: 0 @spacing;
  align-items:center;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

// don't want to remove for now because of the mixing
.flex-item() {}

:host .item {
  .flex;
}

::content > * {
  .flex-item();
}

::slotted(*) {
  .flex-item();
}

.item {
  color: @ak-dropdown-font-main;
  box-sizing: border-box;
  cursor: pointer;
  background-color: @ak-dropdown-background-main;
  text-decoration: none;
  height:30px;

  .flex;
  & > * {
    .flex-item();
  }

  &:hover {
    background-color: @ak-dropdown-background-hover;
  }

  &:active {
    background-color: @ak-dropdown-background-active;
    color: @ak-dropdown-font-active;
  }

  &:focus {
    box-shadow: 0 0 0 2px @ak-dropdown-focused-outline;
    outline: none;
    position:relative; //making shadow on top of others
  }
}

.selected {
  background-color: @ak-dropdown-background-selected;
  color: @ak-dropdown-font-main;
}

.disabled {
  &, &:active, &:hover {
    color: @ak-dropdown-font-disabled;
    background-color: @ak-dropdown-background-disabled;
    cursor: not-allowed;
  }
}

.itemLeftPosition {
  margin-right:10px;
}

.itemDefaultPosition {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
