@import 'shared-variables.less';

.group {
  box-sizing: border-box;
  display: block;
  padding:@ak-dropdown-group-space 0 0 0;
}

.title {
  text-transform:uppercase;
  color:@ak-dropdown-font-heading;
  padding:0 @ak-dropdown-side-space;
  margin:0;
  font-size:13px;
  line-height:30px;
  height:30px;
  font-weight:normal;
}
