@import '~akutil-shared-styles/src/mixins/select-slot-children.less';

@navigation-z-index: 2;
@content-z-index: 1;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: @navigation-z-index;
}

.main {
  z-index: @content-z-index;

  &.should-animate {
    transition: margin-left 200ms;
  }

  .main-fixed {
    max-width: 1280px;
    margin: auto;
  }
}
@main-slot-direct-children: {
  position: relative;
  z-index: @content-z-index;
};
@navigation-slot-direct-children: {
  position: relative;
  z-index: @navigation-z-index;
};
.select-slot-children('main-slot', @main-slot-direct-children);
.select-slot-children('navigation', 'navigation-slot', @navigation-slot-direct-children);
.resizing {
  user-select: none;
}