@import './shared-variables.less';

// Label margins
@label-top-spacing: unit(@grid * 5, px);
@label-bottom-spacing: unit(@grid * 3, px);

// Label sizing
@label-inner-height: @grid * 4; // effectively 16px
@label-font-size: 12;
@label-line-height: @label-inner-height / @label-font-size;
@label-required-padding: 7px;



// Label style
.label {
  color: @ak-color-N200;
  display: block;
}

.label-text {
  font-size: unit(@label-font-size, px);
  line-height: @label-line-height;
  padding: @label-top-spacing 0 @label-bottom-spacing 0;
}

.label-required {
  color: @ak-color-R400;
  padding-left: @label-required-padding;
}