@import '~akutil-shared-styles/src/colors.less';

//Base grid
@grid: 4;

// some base variables (shared between both views)
@base-horizontal-padding: @grid * 2; // 8px
@base-height: @grid * 10; // 40px

@base-font-size: 14;
@base-inner-height: @grid * 5; // 20px
@base-line-height: @base-inner-height / @base-font-size;

@base-border-radius: 3px;
@base-border-width-focused: 2;
@base-border-color-focused: @ak-color-B100;
@base-border-color-invalid: @ak-color-B100;

@base-background-color-focused:  white;

// Mixin to redistribute spacing between border and padding
.borders-and-padding (@border, @x-spacing, @height) {
  border-width: unit(@border, px);
  padding: unit((@height - (2 * @border) - @base-inner-height) / 2, px) unit((@x-spacing - @border), px);
}