@import '../src/animations.less';

.example {
  border: 1px dotted blue;
  width: 500px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.container {
  margin: auto;
  margin-top: 200px;
  width: 500px;
}

.box {
  background-color: #0049B0;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 30px;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 50px;
}

.bold {
  border-radius: 10px;
  animation: boldBounce 1s infinite;
  // now define an animation called boldBounce
  .boldAnimation({.boldAnimClass;}, boldBounce);
}

.optimistic {
  border-radius: 100%;
  animation: optimisticBounce 1s infinite;
  .optimisticAnimation({.optimisticAnimClass;}, optimisticBounce);
}

.combined {
  border-radius:35px;
  animation: combinedBounce 1s infinite;
  .combinedAnimation({.combinedAnimClass;}, combinedBounce);
}

.boldAnimClass {
  .toAnimate(@modifier) {
    transform: translateY(-200px * @modifier);
  }
}

.optimisticAnimClass {
  .toAnimate(@modifier) {
    transform: translateY(-200px * @modifier);
  }
}

.combinedAnimClass {
  .toAnimate(@modifier) {
    // Here we show that you can also have static properties in your animations (the rotation)
    transform: translateY(-200px * @modifier) rotate(45deg);
  }
}
