.example {
  border: 1px dotted blue;
  width: 500px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.container {
  margin: auto;
  margin-top: 200px;
  width: 500px;
}

.box {
  background-color: #0049B0;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 30px;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.bold {
  border-radius: 10px;
}

.optimistic {
  border-radius: 100%;
}

.combined {
  border-radius:35px;
  transform: rotate(45deg);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 50px;
}