@import '../shared-variables.less';

.ak-mention-list {
  display: block;
}

.list {
  width: 340px;
  color: #333;

  border: 1px solid @no-dialog-container-border-color;
  border-radius: @no-dialog-container-border-radius;
  box-shadow: @no-dialog-container-box-shadow;
}

.empty {
  display: none;
}
