@import '../shared-variables.less';

.mention-list-error {
  background-color: #344563;
  color: #9ba4b3;

  border: 1px solid #fff;
  border-radius: @ak-border-radius;

  height: 264px;

  img {
    opacity: .5;
    padding-top: 70px;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
  }
}
