@import '../shared-variables.less';

.ak-mention-picker {
  display: block;
}

.ak-mention-picker-info {
  background: #fff;
  color: @ak-color-N100;
  border: 1px solid @no-dialog-container-border-color;
  border-radius: @no-dialog-container-border-radius;
  box-shadow: @no-dialog-container-box-shadow;
  display: block;
  width: @mention-list-width;
  white-space: nowrap;

  p {
    margin: 0;
    overflow: hidden;
    padding: 9px;
    text-overflow: ellipsis;
  }
}
