@import 'variables.less';

.dropContent {
  background: @ak-dropdown-background-main-color;
  border: 1px solid @ak-dropdown-border-color;
  border-radius: @ak-dropdown-border-radius;
  box-shadow: 0 4px 8px 0 @ak-dropdown-shadow-color;
  box-sizing: border-box;
  overflow-y: auto;
  padding: @grid 0;
}

.dropTrigger {
  display: flex;
  width: 100%;
}

.dropWrapper {
  display: inline-flex;
}
