.blackBox {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 200px;
}

.animation {
  display: inline-block;
  overflow: hidden;
}

.helloContainer {
  margin-top: 100px;

  atlas-animation {
    margin: 0px 10px;
  }
}

.secondContainer {
  margin: 10px;
  width: 1200px;

  &.alignRight {
    overflow: auto;
  }
}

.dottedBox {
  font-size: 20px;
  padding: 10px;
  width: 200px;
  border: 1px dashed;
  float: right;
}
