@import '~akutil-shared-styles/src/grid.less';
@grid: @ak-grid-size / 2; // evaluates to 4px

// NOTE: this will be replaced with responsive breakpoints in a later ticket related to
// a 'width' prop/attribute.
@temporaryFixedModalWidth: 600px;

// we define a class here in order to re-use it in the storybook
// (because in storybook the component name is randomly generated)
.ak-modal-dialog,
ak-modal-dialog {
  &:not([defined]) {
    display: none;
  }
}

:host {
  &(:not([defined])) {
    display: none;
  }
}

.panel-background (@topBorderRadius: 0, @bottomBorderRadius: 0) {
  background-color: white;
  border-top-left-radius: @topBorderRadius;
  border-top-right-radius: @topBorderRadius;
  border-bottom-left-radius: @bottomBorderRadius;
  border-bottom-right-radius: @bottomBorderRadius;
}

@verticalMargin: @grid * 15;

// Fixed container to avoid position clashing with other elements
.blanket-positioner {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-positioner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-height: ~"calc(100% - (2 * @{verticalMargin}))";
  padding-top: @verticalMargin;
  position: relative;
  width: @temporaryFixedModalWidth;

  // 3 direct flex children (header + content + footer slot areas)
  & > * {
    flex: 1 1 auto;
    padding: @grid * 4;
  }

  // Background and corners for header
  .header-flex {
    .panel-background(@grid, 0);
    border-bottom: 1px solid #DDD; // AK-704: animated keylines
  }

  // Background for middle content
  .content-flex {
    .panel-background();
    overflow: auto;
  }

  // Background and corners for footer
  .footer-flex {
    .panel-background(0, @grid);
    border-top: 1px solid #DDD; // AK-704: animated keylines
  }
}
