@import '~ak-editor-shared-styles/src/index';

.root {
  border: 1px solid @ak-editor-subtle-accent;
  box-sizing: border-box;
  border-top-left-radius: @ak-border-radius;
  border-top-right-radius: @ak-border-radius;
  height: 40px;

  &, & > slot {
    display: flex;
    align-items: center;
  }

  .slottedEditorButton() { margin-left: 10px; }
  > slot > * { .slottedEditorButton(); }
  > ::content > * { .slottedEditorButton(); }
  > ::slotted(*) { .slottedEditorButton(); }

  .lastSlottedElement() { margin-right: 10px; }
  > slot > *:last-child { .lastSlottedElement(); }
  > ::content > *:last-child { .lastSlottedElement(); }
  > ::slotted(*:last-child) { .lastSlottedElement(); }

  .spacer() { flex: 1 }
  > slot > spacer { .spacer() }
  > ::content > spacer { .spacer() }
  > ::slotted(spacer) { .spacer() }
}
