@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@grid: @ak-grid-size;

.group {
  box-sizing: border-box;
  display: block;
  margin-top: @grid;

  &:first-child {
    margin-top: 0;
  }
}

.heading {
  align-items: baseline;
  color: @ak-color-N300;
  display: flex;
  flex: 1 1 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: @grid @grid * 3;
}

.elemAfter {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  font-size: 12px;
  text-transform: uppercase;
}
