@import '~akutil-shared-styles/src/colors.less';

.container-navigation-outer {
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.container-navigation-inner {
  background: @ak-color-N20;
  width: 100%;
  height: 100%;
}