@import '~akutil-shared-styles/src/colors.less';
@import '~akutil-shared-styles/src/borders.less';

@ak-panel-bg-color: #fff;
@ak-inline-dialog-border-color: @ak-color-N40; // This has not been confirmed by the ADG yet
@ak-inline-dialog-border-radius: @ak-border-radius;
@ak-inline-dialog-box-shadow: 0 4px 8px -2px fade(@ak-color-N900 , 28%), 0 0 1px fade(@ak-color-N900 , 30%);
//@ak-inline-dialog-box-shadow:0 3px 6px rgba(0, 0, 0, 0.2);
@ak-inline-dialog-content-padding: 24px;
@ak-inline-dialog-max-height: 480px;
@ak-inline-dialog-max-width: 496px;


.inlineDialogContainer {
  background: @ak-panel-bg-color;
  border: 1px solid @ak-inline-dialog-border-color;
  border-radius: @ak-inline-dialog-border-radius;
  box-shadow: @ak-inline-dialog-box-shadow;
  padding: @ak-inline-dialog-content-padding;
  max-height: @ak-inline-dialog-max-height;
  max-width: @ak-inline-dialog-max-width;
  box-sizing: border-box; // so that our padding is taken into account for max-width
}

.animateContainer {
  overflow:hidden;
}

.animateContainerInner {
  opacity:0;
}
