@import '~akutil-shared-styles/src/colors.less';

@ak-color-white: #fff;

.day {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: table-cell;
  font-size: 12px;
  font-weight: lighter;
  padding: 2px 5px;
}
.day:hover {
  background-color: @ak-color-N900;
}
.disabled {
  color: @ak-color-N400;
}
.disabled:hover {
  background-color: transparent;
  cursor: default;
}
.focused {
  background-color: @ak-color-N900;
  border-color: @ak-color-B100;
}
.previouslySelected,
.previouslySelected:hover {
  background-color: @ak-color-B75;
  color: @ak-color-N600;
}
.selected,
.selected:hover {
  background-color: @ak-color-white;
  color: @ak-color-N600;
}
.sibling {
  color: @ak-color-N80;
}

// Today
.today {
  color: @ak-color-B75;
  font-weight: normal;
}
.today .underline {
  border-bottom: 1px solid @ak-color-B75;
  position: relative;
  left: -25%;
  width: 150%;
  top: 4px; 
}

// Today (disabled)
.today.disabled {
  color: @ak-color-N400;
}
.today.disabled .underline {
  border-bottom-color: @ak-color-N400;
}
