@activecolor: rgba(9, 30, 66, 0.5);

.overlay {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  border: 2px solid transparent;


  .top-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px 0 8px;

    .title {
      box-sizing: border-box;
      word-wrap: break-word;
      color: #091E42;
      font-size: 12px;
    }

    .tickbox {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 14px;
      height: 14px;
      border: 2px solid white;
      border-radius: 20px;
      z-index: 20;
      display: none;
    }
  }

  .bottom-row {
    position: absolute;
    display: table;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 28px;
    line-height: 26px;
    padding: 0 2px 0 2px;

    .left-column {
      width: 100%;
      display: table-cell;
      position: relative;
      box-sizing: border-box;
      vertical-align: middle;
      padding: 0 5px 0 5px;

      .file-type-icon {
        float: left;
        margin-right: 6px;
        position: relative;
        top: 7px;
      }

      .file-size {
        float: left;
        font-size: 12px;
        color: #5E6C84;
      }
    }

    .right-column {
      display: table-cell;
    }

    .more-btn {
      display: none;
      float: right;
      width: 36px;
      height: 26px;
      border-radius: 3px;
      background: data-uri("./icons/more.dark.svg") no-repeat center;

      &:hover {
        background-color: rgba(9, 30, 66, 0.06);
      }

      &.active {
        background: data-uri("./icons/more.light.svg") no-repeat center !important;
        background-color: #253858 !important;
      }
    }

    .delete-btn {
      display: none;
      float: right;
      width: 26px;
      height: 26px;
      border-radius: 3px;
      background: data-uri("./icons/delete.dark.svg") no-repeat center;

      &:hover {
        background-color: rgba(9, 30, 66, 0.06);
      }
    }
  }

  .dropdown-wrapper {
    position: absolute;
    z-index: 100;
    left: ~'calc(100% - 40px)';
    top: 100%;
    display: block;
  }

  &:hover, &.active {
    .top-row {
      .title {
        color: #0065FF;
      }
    }

    .bottom-row {
      .more-btn {
        display: block;
      }

      .delete-btn {
        display: block;
      }
    }
  }

  /* Image */
  &.image {
    .top-row {
      .title {
        color: white;
        font-size: 12px;
        display: none;
      }
    }

    .bottom-row {
      .file-type-icon {
        display: none;
      }

      .file-size {
        color: white;
        display: none;
      }

      .more-btn {
        display: none;
        background: data-uri("./icons/more.light.svg") no-repeat center;

        &:hover {
          background-color: rgba(9, 30, 66, 0.20);
        }
      }

      .delete-btn {
        display: none;
        background: data-uri("./icons/delete.light.svg") no-repeat center;

        &:hover {
          background-color: rgba(9, 30, 66, 0.20);
        }
      }
    }

    &:hover, &.active {
      background-color: @activecolor;

      .title {
        display: block;
      }

      .file-type-icon {
        display: block;
      }

      .file-size {
        display: block;
      }

      .more-btn {
        display: block;
      }

      .delete-btn {
        display: block;
      }
    }
  }


  /* Selectable */
  &.selectable {
    &:hover, &.active {
      .tickbox {
        display: block;
      }
    }

    &.selected {
      border-color: #3384FF !important;

      .tickbox {
        display: block !important;
        background-color: #3384FF !important;
        border-color: #3384FF !important;
          background: data-uri("./icons/tick.svg") no-repeat center;
      }
    }
  }

  /* In progress*/
  &.in-progress {
    .bottom-row {
      .file-type-icon {
        display: none;
      }

      .file-size {
        display: none;
      }
    }
  }
}