@import '~akutil-shared-styles/src/colors.less';

.container {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 10px;
  }
}

.colored {
  color: @ak-color-R500;
  fill: @ak-color-R100;
}

.icon-unchecked {
  color: @ak-color-N400;
  fill: @ak-color-N400;
}

.icon-checked {
  color: @ak-color-N400;
  fill: @ak-color-N700;
}

.icon-reverse {
  color: @ak-color-B50;
  fill: @ak-color-N700;
}
