@import '../src/shared-variables.less';
@import '~akutil-shared-styles/src/colors.less';

.container {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 10px;
  }
}

.colored {
  color: @ak-color-R500;
}
