@input-font-size: 14;

.input {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: unit(@input-font-size, px);
  outline: none;
  width: 100%;
}
