// 
// Card overlay
// 
@activecolor: rgba(9, 30, 66, 0.5);

.overlay {
  


  .top-row {
    

    .title {
      
    }

    .tickbox {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 14px;
      height: 14px;
      border: 2px solid white;
      border-radius: 20px;
      z-index: 20;
      display: none;
    }
  }

  .bottom-row {
    

    .left-column {
      

      .file-type-icon {
      }

      .file-size {
        
      }
    }


    .more-btn {
      display: none;
      float: right;
      width: 36px;
      height: 26px;
      border-radius: 3px;
      background: data-uri("./icons/more.dark.svg") no-repeat center;

      &:hover {
        background-color: rgba(9, 30, 66, 0.06);
      }

      &.active {
        background: data-uri("./icons/more.light.svg") no-repeat center !important;
        background-color: #253858 !important;
      }
    }

    .delete-btn {
      display: none;
      float: right;
      width: 26px;
      height: 26px;
      border-radius: 3px;
      background: data-uri("./icons/delete.dark.svg") no-repeat center;

      &:hover {
        background-color: rgba(9, 30, 66, 0.06);
      }
    }
  }

  .dropdown-wrapper {
    position: absolute;
    z-index: 100;
    left: ~'calc(100% - 40px)';
    top: 100%;
    display: block;
  }

  /* Image */
  &.image {
    .top-row {
      .title {
        color: white;
        font-size: 12px;
        display: none;
      }
    }

    .bottom-row {
      .file-type-icon {
        display: none;
      }

      .file-size {
        color: white;
        display: none;
      }

      .more-btn {
        display: none;
        background: data-uri("./icons/more.light.svg") no-repeat center;

        &:hover {
          background-color: rgba(9, 30, 66, 0.20);
        }
      }

      .delete-btn {
        display: none;
        background: data-uri("./icons/delete.light.svg") no-repeat center;

        &:hover {
          background-color: rgba(9, 30, 66, 0.20);
        }
      }
    }

    &:hover, &.active {
      background-color: @activecolor;

      .title {
        display: block;
      }

      .file-type-icon {
        display: block;
      }

      .file-size {
        display: block;
      }

      .more-btn {
        display: block;
      }

      .delete-btn {
        display: block;
      }
    }
  }


  /* Selectable */
  &.selectable {
    
  }

  /* In progress*/
  &.in-progress {
    .bottom-row {
      .file-type-icon {
        display: none;
      }

      .file-size {
        display: none;
      }
    }
  }
}

// 
// Dropdown
// 
.dropdown {
  background: #253858;
  border-radius: 3px;
  overflow: hidden;
  display: block;
}

// 
// 
// Generic --> Remove from here
// 
// 

.error-icon {
  background: data-uri("./icons/error.svg") no-repeat center;
}


// TODO: REMOVE SPINNER AND USE AK ONE
/* Spinner */
@-moz-keyframes l8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes l8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes l8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerLoad2 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(230deg);
  }
}
@-webkit-keyframes spinnerLoad2 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(230deg);
  }
}
@-o-keyframes spinnerLoad2 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(230deg);
  }
}
@keyframes spinnerLoad2 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(230deg);
  }
}
@-moz-keyframes c1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes c1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes c1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes c1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerLoad {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(510deg);
  }
}
@-webkit-keyframes spinnerLoad {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(510deg);
  }
}
@-o-keyframes spinnerLoad {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(510deg);
  }
}
@keyframes spinnerLoad {
  0% {
    transform: rotate(230deg);
  }
  100% {
    transform: rotate(510deg);
  }
}


.spinner {
  position: absolute;
  z-index: 20;
  pointer-events: none;

  animation: spinnerLoad 0.53s ease-in-out;
  animation-fill-mode: forwards;

  svg {
    display: block;
  }

  .path-animate {
    stroke-dasharray: 60;
    transform-origin: center;
    stroke: #42526e;

    stroke-dashoffset: 60;
    animation: l8 0.86s infinite;
    animation-timing-function: cubic-bezier(0.4, 0.15, 0.6, 0.85);
    transition: stroke-dashoffset 0.8s ease-in-out, opacity 0.2s ease-in-out 0.45s;
    opacity: 0;
  }

  &.active {
    animation: spinnerLoad2 1s ease-in-out;
    animation-fill-mode: forwards;

    .path-animate {
      stroke-dashoffset: 50;
      opacity: 1;
      transition: stroke-dashoffset 0.8s ease-in-out, opacity 0.2s ease-in-out;
    }
  }
}